@import "var";

.anime-cover {
  position: relative;
  margin: 2rem auto;
}

.anime-title {
  font-size: 1.5rem;
  margin-bottom: -3rem;
}

.bg {
  background-color: $anime-bg;
  width: 30rem;
  padding-top: 1rem;
  margin: 2rem;
}

.placeholder {
  display: flex;
  justify-content: center;
}
